/* ================= MANUFACTURING PAGE ================= */
.manufacturing-hero{
  min-height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  background:linear-gradient(rgba(0,0,0,.68),rgba(0,0,0,.68)),url("../img/manufacturing-bg.jpg");
  background-size:cover;
  background-position:center;
}

.manufacturing-hero-content{
  max-width:900px;
  padding:0 7%;
}

.manufacturing-hero h1{
  font-size:58px;
  line-height:1.1;
  margin:20px 0;
}

.manufacturing-hero p{
  font-size:18px;
  line-height:1.8;
}

.manufacturing-intro{
  padding:100px 7%;
  background:white;
}

.manufacturing-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.manufacturing-card{
  background:var(--light);
  padding:42px;
  border-bottom:5px solid var(--blue);
  transition:.35s;
}

.manufacturing-card:hover{
  transform:translateY(-10px);
  background:var(--dark);
  color:white;
}

.manufacturing-card h3{
  font-size:28px;
  margin-bottom:18px;
}

.manufacturing-card p{
  line-height:1.8;
}

.facility-section{
  padding:100px 7%;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
  align-items:center;
}

.facility-image{
  box-shadow:var(--shadow);
}

.facility-image img{
  
  height: 450px;
  width: 520px;
}
.facility-content h2{
  font-size:46px;
  line-height:1.2;
  margin-bottom:25px;
}

.facility-content p{
  line-height:1.9;
  margin-bottom:20px;
}

.facility-points{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  margin-top:25px;
}

.facility-points span{
  background:white;
  padding:14px 22px;
  border-left:4px solid var(--blue);
  font-weight:800;
  box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.process-section{
  padding:100px 7%;
  background:white;
}

.process-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.process-box{
  background:var(--dark);
  color:white;
  padding:35px;
  transition:.35s;
}

.process-box:hover{
  transform:translateY(-10px);
  background:var(--blue);
}

.process-box span{
  font-size:34px;
  font-weight:800;
  color:var(--sky);
}

.process-box h3{
  font-size:22px;
  margin:18px 0 15px;
}

.process-box p{
  line-height:1.7;
  color:#ddd;
}
